doctype html
html 
    head 
        title #{pageTitle} | BaseballGame 
    body 
        header 
            h1 #{pageTitle}
        main 
            block content 
        footer 
            div 
                span &copy; Koo